@font-face {
    font-family: "Torus";
    font-weight: 600;
    src: url("/fonts/Torus-SemiBold.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 400;
    src: url("/fonts/Torus-Regular.otf");
}

@font-face {
    font-family: "Torus";
    font-weight: 800;
    src: url("/fonts/Torus-Bold.otf");
}
body,
html {
    font-family: "Torus";
    padding: 0;
    margin: 0;
}
